body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color_offWhite);
}
.title {
    justify-content: center;
    background-color: var(--color_waffle);
    border-radius: 15px;
    max-width: 20%;
}
.cards {
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
}
.card {
    background-color: var(--color_waffle);
    border-radius: 15px;
    max-width: 25%;
}
