body {
    background-color: var(--color_offWhite);
}
.title {
    display: flex;
    justify-content: center;
    h2 {
            background-color: var(--color_waffle);
            border-radius: 15px;
            max-width: 12.5%;
        }
}
.cards {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
}
.card {
    background-color: var(--color_waffle);
    border-radius: 15px;
    max-width: 20%;
    margin-top: 5px;
}
