:root {
    --font_sans: Helvetica, sans-serif;
    --font_serif: Georgia, serif;
    --color_waffleButton: #a99265;
    --color_dark_waffleButton: #9a855d;
    --color_waffle: #C7A17A;
    --color_offBlack: #353839;
    --color_offWhite: #1efae4;
}